In [ ]:
#multiple variable linear Regression

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
df =pd.read_csv('/content/car driving risk.csv')

In [ ]:
df

   speed  car_age  experence  risk
0    200       15        5.0    85
1     90       17       13.0    20
2    165       12        4.0    93
3    110       20        NaN    60
4    140        5        3.0    82
5    115        2        8.0    10

In [ ]:
df.head(2)

   speed  car_age  experence  risk
0    200       15        5.0    85
1     90       17       13.0    20

In [ ]:
#null value check 
df.isnull().sum()

speed        0
car_age      0
experence    1
risk         0
dtype: int64

In [ ]:
#null value handle mean & median

In [ ]:
df.experence

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experence, dtype: float64

In [ ]:
df.describe

<bound method NDFrame.describe of    speed  car_age  experence  risk
0    200       15        5.0    85
1     90       17       13.0    20
2    165       12        4.0    93
3    110       20        NaN    60
4    140        5        3.0    82
5    115        2        8.0    10>

In [ ]:
exper_fit =df.experence.mean()# find out the value mean

In [ ]:
exper_fit

6.6000000000000005

In [ ]:
df.experence = df.experence.fillna(exper_fit )# library for null value handling

In [ ]:
df.experence

0     5.0
1    13.0
2     4.0
3     6.6
4     3.0
5     8.0
Name: experence, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression #LinearRegression library

In [ ]:
#reg =linear_model.LinearRegression()

In [ ]:
reg= LinearRegression()

In [ ]:
reg.fit(df[['speed','car_age','experence']],df['risk']) # y =mx+c   y= m1x1+m2x2+m3x3+c #input ar output train ar madhome fit kori

LinearRegression()

In [ ]:
reg.predict([[160,10,5]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([71.57528852])

In [ ]:
reg.coef_ #m value

array([ 0.20002475,  2.15839587, -7.83235626])

In [ ]:
reg.intercept_  #c ar value

57.149150359139114

In [ ]:
y =0.20002475*160+ 2.15839587*10+(-7.83235626)*5+57.149150359139114
#y= m1*x1+m2*x2+m3*x3+c

In [ ]:
y

71.57528775913912

In [ ]:
#Decision tree algorithm

In [ ]:
import pandas as pd
import numpy as np
from sklearn import tree

In [ ]:
df = pd.read_csv('/content/male female.csv')

In [ ]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [ ]:
x= df.iloc[:,:-1] # [0:3,1:3] -row -colounm
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [ ]:
y= df.iloc[:,3]

In [ ]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [ ]:
from sklearn.tree import DecisionTreeClassifier # library

In [ ]:
classify_ = tree.DecisionTreeClassifier() # object create

In [ ]:
classify_.fit(x,y) #fit

DecisionTreeClassifier()

In [ ]:
prediction =classify_.predict([[190,70,43]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
prediction

array(['female'], dtype=object)

In [ ]:
pre =classify_.predict([[200,79,44]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
pre

array(['male'], dtype=object)

In [ ]:
#Decision tree string

In [ ]:
import pandas as pd
import numpy as np
from sklearn import tree

In [ ]:
df= pd.read_csv('/content/shop data.csv')

In [ ]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [ ]:
x= df.iloc[:,:-1]

In [ ]:
x

      age  income  gender m_status
0     <25    high    male   single
1     <25    high    male  married
2   25-35    high    male   single
3     >35  medium    male   single
4     >35     low  female   single
5     >35     low  female   single
6   25-35     low  female  married
7     <25  medium    male  married
8     <25     low  female   single
9     >35  medium  female  married
10    <25  medium  female   single
11  25-35  medium    male  married
12  25-35    high  female   single
13    >35  medium    male  married
14    <25    high    male   single

In [ ]:
y= df.iloc[:,4]

In [ ]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_x = LabelEncoder()

In [ ]:
x =x.apply(LabelEncoder().fit_transform)

In [ ]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dft = DecisionTreeClassifier()

In [ ]:
dft.fit(x,y)

DecisionTreeClassifier()

In [ ]:
pre = dft.predict([[1,1,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
pre

array(['yes'], dtype=object)